<p>bnr-carousel works!</p>

<div id="Carousel_div">
<ngb-carousel
	#carousel
	[interval]="1000"
	[pauseOnHover]="pauseOnHover"
	[pauseOnFocus]="pauseOnFocus"
	(slide)="onSlide($event)"
>
	@for (bnr of Bnrs; track bnr.imageUrl; let i = $index) {
		<ng-template ngbSlide>
			<div class="carousel-caption">
				<h3>{{bnr.title}}</h3>
			</div>
			<a href="{{ bnr.link }}" target="_blank" rel="nofollow noopener noreferrer">
				<div class="picsum-img-wrapper">
					<img [src]="bnr.imageUrl" alt="My image {{ i + 1 }} description" />
				</div>
			</a>
		</ng-template>
	}
</ngb-carousel>
</div>

<hr />

