

<!-- <button class="btn btn-primary" (click)="createPromo(createdPromo)">Add Promo</button> -->
<button class="btn btn-primary" (click)="showAddForm()">Add Promo</button>


<!-- <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedAv">
    <option [value]="All" selected>All</option
    <option >All</option>
    <option [value]="true">Active</option>
    <option [value]="false">Expired</option>


</select>  -->

@if (showSaveToast) {
<div>
    <ngb-toast header="Sucess" [autohide]="false" (hidden)="showSaveToast = false">
        <p class="text-success">Items Saved Successfully</p>
    </ngb-toast>
</div>
}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Code</th>
            <th scope="col">Discount</th>
            <th scope="col">#Max Usage</th>
            <th scope="col">#Current Usage</th>
            <th scope="col">Expiry Date</th>
            <th scope="col">State</th>
        </tr>

    </thead>
    <tbody>

        <tr *ngIf="itemToAdd">
            <td>#</td>
            <td scope="col"><input type="text" [(ngModel)]="createdPromo.code"></td>
            <td scope="col"><input type="number" [(ngModel)]="createdPromo.discountPercent"></td>
            <td scope="col"><input type="number" [(ngModel)]="createdPromo.maxUsageCount"></td>
            <!-- <td scope="col"><input type="number" disabled="true" [(ngModel)]="createdPromo.currentUsageCount"></td> -->
            <td scope="col">0</td>
            <td scope="col"><input type="date" [(ngModel)]="createdPromo.expiryDate"></td>
            <td scope="col">Active</td>
            <td><button class="btn btn-success" (click)="createPromo(createdPromo)">Save</button></td>
            <td><button class="btn btn-secondary" (click)="cancelAdd()">Cancel</button></td>


        </tr>


        @for (p of PromoCodess; track p.id) {
        <tr>
            <th scope="row">{{p.id}}</th>
            <td *ngIf="!(p.id==editedId);">{{ p.code }}</td>

            <td *ngIf="!(p.id==editedId);">{{p.discountPercent}}</td>
            <td *ngIf="!(p.id==editedId); ">{{p.maxUsageCount}}</td>
            <td>{{p.currentUsageCount}}</td>
            <td *ngIf="!(p.id==editedId);">{{p.expiryDate|dateClean}}</td>
            @switch(p.isActive){
            @case(true){
            <td class="text-success">Active</td>
            }
            @case(false){
            <td class="text-danger">Expired</td>
            }}
            <!-- <td>{{p.isActive}}</td> -->
            <td *ngIf="!(p.id==editedId); else saveEdit"><button class="btn btn-primary" (click)="EditMode(p.id)"
                    disabled="true">Edit</button></td>
            <ng-template #saveEdit>
                <td> <button class="btn btn-success" (click)="createPromo(createdPromo)">Save</button></td>
            </ng-template>
            <td><button class="btn btn-danger" (click)="openModal(p.id)">Delete</button></td>
        </tr>
        }


    </tbody>
</table>

<div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
        (pageChange)="refreshPromos()">
    </ngb-pagination>

    <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshPromos()">
        <option [ngValue]="2">2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="100">100 items per page</option>
    </select>
</div>




<!-- Additions -->


<!-- <ng-template #editCodeField>
    <td> <input type="text" value="{{p.code}}"></td>
</ng-template>
<ng-template #editUseField>
    <td> <input type="number" value="{{p.maxUsageCount}}"></td>
</ng-template>
<ng-template #editDiscountField>
    <td> <input type="number" value="{{p.discountPercent}}"></td>
</ng-template>

<ng-template #editDateField>
    <td>
        <form class="row row-cols-sm-auto">
            <div class="col-12">
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="dateStruct"
                        ngbDatepicker #d="ngbDatepicker" type="date" />
                    <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()"
                        type="button"></button>
                </div>
            </div>
        </form>

        <hr /> -->
<!-- <pre>Date: {{ dateStruct | json }}</pre> -->

<!-- <ngb-alert class="mt-3 mb-0" type="info" [dismissible]="true">
            You must provide the icon for the button that matches your application's style. In this example,
            the icon comes from
            <code>bootstrap-icons</code>.
        </ngb-alert>
    </td>

</ng-template> -->